/* src/components/PDFPreview/PDFPreview.module.css */
.pdfDisplay {
    width: 100%;
    height: 400px; /* Hauptanzeige deutlich größer machen */
    margin-bottom: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 2px solid #007bff; /* Hauptanzeige hervorheben */
    overflow: hidden;
}

.pdfIframe {
    width: 100%;
    height: 100%;
    border: none;
}
