/* src/components/PDFPreview/PDFPreview.module.css */
.pdfDisplay {
    border: none;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}