/* src/pages/LoginPage/LoginPage.module.css */
.loginPage {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60vh;
    overflow-y: hidden;
}


.loginFormContainer {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center; 
}

.loginForm {
    background-color: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}

.registerForm {
    background-color: white; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}

.inputField {
    margin-bottom: 15px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 100%; 
}

.submitButton {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px;
    border-radius: 4px; 
    cursor: pointer; 
    width: 100%; 
}

.submitButton:hover {
    background-color: #45a049; 
}

.toggleText {
    margin-top: 15px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
} 