/* src/components/Sidebar/Sidebar.module.css */
.sidebar {
    transition: width 0.3s ease; /* Smooth transition */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}

.open {
    width: 300px; /* Standardbreite der offenen Sidebar */
    overflow-y: hidden;
}

.closed {
    width: 50px; /* Schmale Breite, wenn Sidebar geschlossen ist */
}
.sidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.newChatContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-y: hidden;
}

.inputField {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 100%; 
}

.submitButton {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px;
    border-radius: 4px; 
    cursor: pointer; 
}

.toggleButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    align-self: center; /* Button in der Mitte der Sidebar */
    transition: all 0.3s ease;
}

.toggleButton:hover {
    background-color: #0056b3;
}

.chatList {
    list-style: none;
    padding: 0;
    width: 85%;
    max-height: 50vh; /* Dynamische Höhe basierend auf der Bildschirmgröße */
    overflow-y: auto; /* Scrollbar hinzufügen, wenn der Inhalt die Höhe überschreitet */
    overflow-x: hidden;
}

.chatItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 90%;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.chatName {
    flex-grow: 1;
}

.deleteButton {
    background: transparent;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
}

.chatItem:hover {
    background-color: #e0e0e0;
}

.chatItem.active {
    background-color: #d0d0d0;
    font-weight: bold;
}
