/* src/pages/ChatPage/ChatPage.module.css */

.chatPage {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.mainContent {
    display: flex;
    flex: 1;
    overflow-y: hidden;
    width:100%;
}

.mainContentContainer {
    display: flex;
    gap: 20px;
    flex: 1;
    overflow-y: hidden;
    width:100%;
}

.sidebarContainer {
    flex: 0 0 auto;
    padding: 20px;
    overflow-y: hidden;
}

.chatWindowAndInputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 66vh;
    width: 100%;
    overflow-y: hidden;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    font-size: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.pdfPreviewContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 10%;
    overflow-y: hidden;
}

.middleContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow-y: hidden;
    width: 40%;
}

.rightContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    overflow-y: hidden;
    width:80%;
}

.chatWindowContainer {
    flex: 1;
    
}

.userInput {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.noChatSelected {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    font-size: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}