aiofiles
aiohappyeyeballs
aiohttp
annotated-types
dnspython
flask
h11
h2
hpack
hyperframe
motor
pip
priority
pydantic
pydantic_core
pymongo
quart
typing_extensions
tzdata
wsproto
qdrant-client
aiocache
aiocache[redis]
quart-cors
openai
python-dotenv