/* src/components/UserMessage/UserMessage.module.css */
.userMessage {
    background-color: #7eacdd; /* Hintergrundfarbe für die Benutzernachricht */
    color: white; /* Textfarbe für die Benutzernachricht */
    padding: 0px 10px;
    border-radius: 5px; /* Abgerundete Ecken */
    font-size: 0.9rem;
    align-self: flex-end; /* Positioniert die Nachricht rechts */
}

.timestamp {
    font-size: 0.8rem; /* Kleinere Schriftgröße für den Zeitstempel */
    color: #6c757d; /* Farbe für den Zeitstempel */
}
