/* src/components/ChatWindow/ChatWindow.module.css */
.chatWindow {
    display: flex;
    flex-direction: column; /* Nachrichten untereinander anordnen */
    height: 100%; /* Füllt den verfügbaren Platz */
    overflow-y: auto; /* Scrollen, wenn zu viele Nachrichten vorhanden sind */
    max-height: 50vh;
    padding: 0 10px;
}

.userMessageContainer {
    align-self: flex-end; /* Benutzer-Nachricht rechts ausrichten */

}

.botMessageContainer {
    align-self: flex-start; /* Bot-Nachricht links ausrichten */
}
