flask
quart
pydantic
pydantic_core
transformers
Pillow
PyPDF2
pdfplumber
datetime
python-dotenv
python-docx
reportlab
torch
tiktoken
python-Levenshtein
nltk
pytesseract
paddleocr
paddlepaddle
quart-cors
bson
pix2tex
pdf2image
git+https://github.com/DeepMath/MathOCR.git
opencv-python
tensorflow
scipy
tqdm