flask
quart
pydantic
pydantic_core
transformers
Pillow
PyPDF2
pdfplumber
pptxtopdf
docx2pdf
datetime
python-dotenv
python-docx
reportlab
torch
tiktoken
python-Levenshtein
nltk
pytesseract
paddleocr
paddlepaddle